.film {
  display: flex;
  gap: 20px; /* réduit l'espace entre les éléments */
  justify-content: center;
  width: 80%; /* élargit le conteneur */
  background-color: #d364a5; 
  padding: 20px; /* augmente le rembourrage */
  margin: auto;
  border-radius: 10px; /* ajoute des bords arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ajoute une ombre légère */
}

.image_left img {
  max-width: 100%; /* assure que l'image ne dépasse pas son conteneur */
  height: auto; /* conserve le ratio de l'image */
  border-radius: 8px; /* arrondit les coins de l'image */
}

.right_part {
  display: flex;
  flex-direction: column; /* aligne le texte verticalement */
  justify-content: center; /* centre le contenu */
}

h1 {
  font-size: 2em; /* taille de police adaptée */
  color: #fff; /* couleur du texte pour le contraste */
}

p {
  color: #fff; /* couleur du texte pour le contraste */
  margin-top: 10px; /* espace au-dessus du paragraphe */
}
