body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('image11.jpg'); /* Remplace par l'URL de ton image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.content h2 {
    margin: 0;
}

.content p {
    max-width: 600px;
}
